.thanks__content {
    width: 40%;
    background-color: white;
    margin: 0 auto;
    border-radius: 3%;
    box-shadow: 3px 3px 1px gray;
    padding: 5% 0;
}

.thanks__message {
    text-align: center;
    font-size: large;
}

.thanks__button {
    margin: 10% auto;
    text-align: center;
    background-color: #385EF4;
    width: 30%;
    border-radius: 5%;
    cursor: pointer;
    padding: 2% 0;
}

.thanks__button a {
    text-decoration: none;
    color: white;
}